<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="theme-color" content="#3d3d3d">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
    <title>Greener | Otro Genial Sitio Web del Montón</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300&display=swap" rel="stylesheet">

    <!-- CSS Links | PC -->
    <link rel="stylesheet" href="../css/pc/pc_greener.css">

    <!-- CSS Links | Mobile -->
    <link rel="stylesheet" href="../css/responsive/responsive_greener.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">

</head>
<body>

    <header class="header">

        <div class="content-header">

            <div class="logo-greener"></div>

            <div class="navegation-menu-header">

                <div class="buttons-menu-header">

                    <a class="button-home-menu" href="">
                        Inicio
                    </a>

                    <a class="button-us-menu" href="">
                        Nosotros
                    </a>

                    <a class="button-services-menu" href="">
                        Servicios
                    </a>

                    <a class="button-briefcase-menu" href="">
                        Portafolio
                    </a>                    

                </div>
                
                <a class="button-join-us" href="">
                    Unirse
                </a>

            </div>

        </div>

    </header>

    <section class="section-1">

        <div class="content-section-1">

            <div class="box-text-section-1">

                <h1 class="title-text-section-1">Estás leyendo el H1 de este Landing Page, no dice nada pero se ve súper bien ;)</h1>

                <p class="subtitle-text-section-1">Greener es una empresa ficticia que se dedica a ser el centro de atención sin dejar de lado al hermoso backend y a ser usada en videos para el canal de Marcelo Nuñez ¡Disfrútalo!</p>

                <div class="buttons-text-section-1">

                    <a class="button-know-more-section-1" href="">
                        Conocer más
                    </a>

                    <a class="button-join-now" href="">
                        ¡Unirse ya!
                    </a>

                </div>

            </div>

            <div class="box-form-section-1">

                <p class="title-form-section-1">Llena el siguiente formulario para que veas la verdadera magia de Python ;)</p>

                <form class="form-section-1">

                    <input class="input-name-form" type="text" placeholder="Coloca tu nombre">

                    <input class="input-phone-form" type="tel" placeholder="Coloca tu teléfono">

                    <input class="input-email-form" type="email" placeholder="Coloca tu correo electrónico">

                    <input class="input-message-form" type="text" placeholder="Mensaje">

                    <button class="button-form" type="submit">
                        Enviar mensaje
                    </button>

                </form>
            </div>

        </div>

    </section>
    
</body>
</html>