<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="theme-color" content="#3d3d3d">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
    <title>Greener | Otro Genial Sitio Web del Montón</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300&display=swap" rel="stylesheet">

    <!-- CSS Links | PC -->
    <link rel="stylesheet" href="../css/pc/pc_thanks.css">

    <!-- CSS Links | Mobile -->
    <link rel="stylesheet" href="../css/responsive/responsive_thanks.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">

</head>
<body>

    <header class="header">

        <div class="content-header">

            <div class="logo-greener"></div>

            <div class="navegation-menu-header">

                <div class="buttons-menu-header">

                    <a class="button-home-menu" href="">
                        Inicio
                    </a>

                    <a class="button-us-menu" href="">
                        Nosotros
                    </a>

                    <a class="button-services-menu" href="">
                        Servicios
                    </a>

                    <a class="button-briefcase-menu" href="">
                        Portafolio
                    </a>                    

                </div>
                
                <a class="button-join-us" href="">
                    Unirse
                </a>

            </div>

        </div>

    </header>

    <section class="section-1">

        <div class="box-message-thanks">

            <h1 class="title-message-thanks">Muchas gracias por enviar tu mensaje, haremos todo lo humanamente posible para no dejarte en visto ;)</h1>

            <a class="button-go-home" href="index.html">
                Ir a la home
            </a>            

        </div>


    </section>
    
</body>
</html>